.home-section {
  background-color: #000000;
  color: #ffffff;
}

.fonts-section {
  background-color: #ffffff;
  color: #000000;
}

.tester-section {
  background-color: #ffffff;
  color: #000000;
}

.response-section {
  background-color: #ffffff;
  color: #000000;
}
